@import url('https://fonts.googleapis.com/css2?family=< /span>display=swap');

:root{
   --pink:#f875aa;  
   --purple: #625772;
   --green: #89b9ad;
   --light-color: #fff6f6;
   --box-shadow:0.5rem 0.7rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;  
}

.btn-order{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.8rem;
    color: #fefaec;
    background-color: #478374;
    border-radius: .5rem;
    letter-spacing: .8px;
    cursor: pointer;
    padding: .8rem 3rem;
    text-decoration: none;
    transition: .7s;
}

.btn-order:hover{
    background: #59a591;
    color: #fdf1c1;
    letter-spacing: 1.7px;
}

body{
    min-height: 100vh; 
    background: #fff3da;
   /* background-image: linear-gradient(rgba(158, 155, 155, 0.75)
    ,rgba(255, 203, 59, 0.75)),url(background.png);
    background-size: cover;
    background-position: center; */
} 

header{
top: 0%;
left: 0%;
right: 0%;
width: 100%;
position: fixed;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 7%;
background: #fff6f6;
box-shadow: var(--box-shadow);

}
.logo{
    text-decoration: none;
    color: #ad98fc;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.9em;
    letter-spacing: 0.15cm;
    transition: 0.7s ease;
    user-select: none;
}
.logo:hover{
color: #beadfa;
transform: scale(1.2);
}

header .logo i{
    color: var(--purple);
}

.navigation a{
    text-decoration: none;
    border-radius: .5rem;
    color: #f875aa;
    font-weight: 300;
    font-size: 1.5em;
    padding-left: 30px;
    display: inline-block;
    transition: 0.7s ease;
    position: relative;
}
.navigation a::after {
    content: '' ;
    position: absolute;
    left: 35%;
    bottom: -6px;
    width: 70%;
    height: 3px;
    background: #ff90bc;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
.navigation a:hover{
    color: #ff90bc;
transform: scale(1.2);
}
.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border:2px solid #ff90bc ;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.7em;
    color: #ff90bc;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.7s;
}
.navigation .btnLogin-popup:hover {
    background: #fdfdda;
    color: #f875aa;
}
header .icon a,
header .icon i{
    cursor: pointer;
    font-size: 1.7rem;
    color: #625772; 
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    border-radius: 50%;
    background: #fff0f0;
    transition: 0.5s ease;
    text-decoration: none;
}

header .icon a:hover,
header .icon i:hover{
    color: #f85d9b;
    transform: scale(1.2);
}

header .icon #menu-bars{
    z-index: 1000;
    display: none;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #ffebdb;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(85, 161, 126, 0.5);
}

.heading span{
    color: #625772;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#f8b6d2bf
    ,#ffcb3bbf),url(image/background-shop.jpg); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}

.main .content{
    max-width: 50rem;
}

.main h2{
    margin-top: 20px;
    color: #625772;
    font-size: 1.7em;
    font-weight: 500;
    letter-spacing: 1px;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #8acdd7;
    font-size: 3em;
    font-weight: 600;
    padding: 1rem 0;
    line-height: 1.5;
}
.main h3{
    color: #89b9ad;
    font-size: 2em;
font-weight: 700;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 30px;
line-height: 1.5;
}
.main-btn{
    color: #fefaec;
    background-color: #f85d9b;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 900;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 40px;
    transition: 0.7s ease;
    cursor: pointer;
}
.main-btn:hover{
    background-color: #f371a5;
    transform: scale(1.2);
}

.heading1{
    text-align: center;
    color: #f371a5;
    font-size: 4rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}




.social-icons a{
    display: inline-block;
    color: #625772;
    font-size: 1.9em;
    padding-right: 20px;
    transition: 0.5s ease;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;

}

.home .home-slider .slide .content{
    flex: 1 1 45rem;
}

.home .home-slider .slide .image{
    flex: 1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color: #f85d9b;
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color: #478374;
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    color: #c99769;
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}


.wrapper{
    position: relative;
    top: 170px;
    left: 35%;
    transform: translate(50%, 50%);
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0 ,0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transform: scale(0);
    transition: transform .5s ease, height .2s ease; 
}
.wrapper.active-popup {
    transform: scale(1);
}
.wrapper.active {
    height: 530px;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
   transition: transform .18s ease;
   transform: translateX(0);   
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transform: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);   
} 
.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #625772;
    font-size: 2em;
    color: #fff3da;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 2em;
    color: #625772;
    text-align: center;
} 
.input-box{ 
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #a291bd;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #625772;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #a291bd;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #7752fe;
    line-height: 57px;
}
.remember-forgot {
    font-size: 0.9;
    color: #625772;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    accent-color: #625772;
    margin-right: 3px;
}
.remember-forgot a {
    color: #625772;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: #a291bd;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #625772;
    font-weight: 500;
}
.login-register{
    font-size:.9em ;
    color: #625772;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color: #625772;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover {
    text-decoration: underline;
}

#search-form{
    position: fixed;
    top: -110%; left: 0; 
    height: 100%; width: 100%;
    z-index: 1004;
    background: #000000cc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top: 0;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fdfdda;
    padding: 1rem 0;
    color: #fdfdda;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color: #ffebdb;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fdfdda;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color: #aaca79;
}

#search-form #close{
    position: absolute;
    color: #fdfdda;
    top: 2rem; right: 3rem;
    font-size: 5rem;
}


span.swiper-pagination-bullet{
    align-items: center;
    

    
}

span.swiper-pagination-bullet-active{
    background: #f371a5;
    
    
}

.sup-heading{
    text-align: center;
    color: #7752fe;
    font-size: 3rem;
    padding-top: 1rem;
}

.pieces{
    background: #fce2b0;
}


.pieces .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.pieces .box-container .box{
    padding: 2.5rem;
    background: #ffeecc;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}


.pieces .box-container .box .fa-heart,
.pieces .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: #fff0f0;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #f371a5;
    text-decoration: none;

}

.pieces .box-container .box .fa-heart:hover,
.pieces .box-container .box .fa-eye:hover{
    background: #beadfa;
    color: #625772;
}

.pieces .box-container .box .fa-heart{
    right: -15rem;
}

.pieces .box-container .box .fa-eye{
    left: -15rem;

}


.pieces .box-container .box:hover .fa-heart{
    right: 1.5rem;
}

.pieces .box-container .box:hover .fa-eye{
    left: 1.5rem;

}

.pieces .box-container .box img{
    height: 17rem;
    margin: 1rem 0;
}

.pieces .box-container .box h3{
    color: #aaca79;
    font-size: 2.5rem;
}

.pieces .box-container .box .stars{
    padding: 1rem 0;
}

.pieces .box-container .box .stars i{
    font-size: 1.7rem;
    color: #c99769;
}

.pieces .box-container .box span{
    color: #7752fe;
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}


.btn-star{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.8rem;
    color: #625772;
    background-color: #beadfa;
    border-radius: 1.5rem;
    letter-spacing: .8px;
    cursor: pointer;
    padding: .8rem 3rem;
    text-decoration: none;
    transition: .7s ease;
}

.btn-star:hover{
    background: #f371a5;
    color: #fdf1c1;
    letter-spacing: 1.2px;
    transform: scale(1.1);
}

.About{
    background: #89b9ad;
}

.sup-heading-2{
    text-align: center;
    color: #ffebdb;
    font-size: 3rem;
    padding-top: 1rem;
}

.heading-2{
    text-align: center;
    color: #206957;
    font-size: 4rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.About .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.About .row .images{
    flex: 1 1 45rem;
}

.About .row .images img{
    width: 100%;
}

.About .row .content{
    flex: 1 1 45rem;
}

.About .row .content h3{
    color: #fce2b0;
    font-size: 4rem;
    padding: .5rem 0;
}

.About .row .content p{
    color: #63458f;
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}


.About .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.About .row .content .icons-container .icons{
    background: #fff0f0;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.About .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color: #aaca79;

}

.About .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color: #aaca79;

}

.sup-heading-3{
    text-align: center;
    color: #f85d9b;
    font-size: 3rem;
    padding-top: 1rem;   
}

.heading-3{
    text-align: center;
    color: #478374;
    font-size: 4rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.Shopnow .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

}

.Shopnow .box-container .box{
    background: #fce2b0;
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.Shopnow .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.Shopnow .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.Shopnow .box-container .box .image .fa-heart{
    position: absolute;
    top: 2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff0f0;
    border-radius: 50%;
    color: #f371a5;
    text-decoration: none;
}

.Shopnow .box-container .box .image .fa-heart:hover{
    background-color: #beadfa;
    color: #625772;
}

.Shopnow .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}

.Shopnow .box-container .box .content .start{
    padding-bottom: 1rem;
}

.Shopnow .box-container .box .content .start i{
   font-size: 1.8rem;
   color: #63458f;
}

.Shopnow .box-container .box .content h3{
    color: #206957;
    font-size: 2.5rem;

}

.Shopnow .box-container .box .content p{
    color: #573191;
    font-size: 1.6rem;
    padding: 5rem 0 ;
    line-height: 1.5;
    
}

.Shopnow .box-container .box .content .price{
    color: #206957;
    margin-left: 1rem;
    font-size: 2.5rem;
}

.review{
    background: #89b9ad;
}

.sub-heading-4{
    text-align: center;
    color: #ffeecc;
    font-size: 3rem;
    padding-top: 1rem;   
}

.heading-4{
    text-align: center;
    color: #f85d9b;
    font-size: 4rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.review .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: 1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;
}

.review .slide .fa-quote-right{
    position: absolute;
    top: 2rem; right: 2rem;
    font-size: 6rem;
    color: #ffeecc;
}

.review .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color: #ffeecc;
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color: #573191;
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #000000;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: #206957;
}

.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #f875aa;
    text-decoration: none;
}

.footer .box-container .box a:hover{
    color: #63458f;
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: #000000;
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color: #573191;
}

.loader-container{
    position: fixed;
    top: o; left: 0;
    height: 100%;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width: 3535rem;
}




















































@media (max-width:991px) {
    
    html{
        font-size: 55%;
    }


    header{
        padding: 1rem 2rem;
    }

    section{
        padding: 2rem;
    }

    .main{
        background-position: left;
    }

}

@media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  } 


@media (max-width:450px) {
    
    html{
        font-size: 50%;
    }


    header{
        padding: 1rem 2rem;
    }

    .pieces .box-container .box img{
        height: auto;
        width: 100%;
    }

}



@media (max-width:768px){

    header .icon #menu-bars{
        display: inline-block;
    }

    header .navigation{
        position: absolute;
        top: 100%; right: 0%; left: 0%;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #menu-bars:checked ~ .navigation{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);;
    }

    header .navigation.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        } 


    header .navigation a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2.1rem;
        background: #fff6f6
    }

    .main .content h2{
        font-size: 2rem;
    }

    .main .content span{
        font-size: 2.5rem;
    }

    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

    .pieces .box-container .box img{
        height: auto;
        width: 100%;
    }


}

@media (max-width:991px) {
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

    .pieces .box-container .box img{
        height: auto;
        width: 100%;
    }


    
}